@font-face {
    font-family: 'cookieregular';
    src: url('fonts/cookie-regular-webfont.woff2') format('woff2'),
         url('fonts/cookie-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fira_sansregular';
    src: url('fonts/firasans-regular-webfont.woff2') format('woff2'),
         url('fonts/firasans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'roboto_condensedbold';
    src: url('fonts/robotocondensed-bold-webfont.woff2') format('woff2'),
         url('fonts/robotocondensed-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'roboto_condensedlight';
    src: url('fonts/robotocondensed-light-webfont.woff2') format('woff2'),
         url('fonts/robotocondensed-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'roboto_condensedregular';
    src: url('fonts/robotocondensed-regular-webfont.woff2') format('woff2'),
         url('fonts/robotocondensed-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
    outline: none;
}
.clear{ clear: both;}
a{
	text-decoration:none;
    
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
	font-family: 'fira_sansregular';
	color: #333;
	color: rgba(0,0,0,0.5);
    
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}

.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}
#menu {
    background-color: rgba(0,0,0,0.5);
}
nav .inner{ padding: 0 20px; display: block;}
nav .logo{ float: left; margin: 14px 5px; font-family: 'cookieregular'; font-size: 25px; color: #fff;} 
nav ul{ float: right;}
.section{
	text-align:center;
}
#menu li {
	display:inline-block;
	margin: 0;
	color: #000;
    text-align: right;
    font-size: 14px;
    font-family: 'fira_sansregular';
    transition: all 0.5s;
/*	background:#fff;*/
	/*background: rgba(255,255,255, 0.5);*/
/*
	-webkit-border-radius: 10px;
            border-radius: 10px;
*/
    padding: 10px 5px;
}
#menu li.logo{
    float: left;
    
}
#menu li.active{
	/*background:#666;*/
	/*background: rgba(0,0,0, 0.5);*/
	color: #fff;
    background-color:#800080;
}
#menu li a{
	text-decoration:none;
	color: #fff;
}
#menu li:hover a{
	color: #fff;
    
}
#menu li:hover{
	background-color:#800080;
}
#menu li a,
#menu li.active a{
	padding: 9px 10px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 55px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}
.twitter-share-button{
	position: fixed;
	z-index: 99;
	right: 149px;
	top: 9px;
}
#download{
	margin: 10px 0 0 0;
	padding: 15px 10px;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #49afcd;
	background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -webkit-gradient(linear,0 0,0 100%,from( #5bc0de),to( #2f96b4));
	background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: linear-gradient(top, #5bc0de, #2f96b4);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
	border-color: #2f96b4 #2f96b4 #1f6377;
	border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	vertical-align: middle;
	cursor: pointer;
	display: inline-block;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}
#download a{
	text-decoration:none;
	color:#fff;
}
#download:hover{
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
	background-color: #2F96B4;
	background-position: 0 -15px;
	-webkit-transition: background-position .1s linear;
	-moz-transition: background-position .1s linear;
	-ms-transition: background-position .1s linear;
	-o-transition: background-position .1s linear;
	transition: background-position .1s linear;
}
#infoMenu{
	height: 20px;
	color: #f2f2f2;
	position:fixed;
	z-index:70;
	bottom:0;
	width:100%;
	text-align:right;
	font-size:0.9em;
	padding:8px 0 8px 0;
}
#infoMenu ul{
	padding: 0 40px;
}
#infoMenu li a{
	display: block;
	margin: 0 22px 0 0;
	color: #333;
}
#infoMenu li a:hover{
	text-decoration:underline;
}
#infoMenu li{
	display:inline-block;
	position:relative;
}
#examplesList{
	display:none;
	background: #282828;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 20px;
	float: left;
	position: absolute;
	bottom: 29px;
	right: 0;
	width:638px;
	text-align:left;
}
#examplesList ul{
	padding:0;
}
#examplesList ul li{
	display:block;
	margin: 5px 0;
}
#examplesList ul li a{
	color: #BDBDBD;
	margin:0;
}
#examplesList ul li a:hover{
	color: #f2f2f2;
}
#examplesList .column{
	float: left;
	margin: 0 20px 0 0;
}
#examplesList h3{
	color: #f2f2f2;
	font-size: 1.2em;
	margin: 0 0 15px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	padding: 0 0 5px 0;
}



/* Demos Menu
 * --------------------------------------- */
 #demosMenu{
	position:fixed;
	bottom: 10px;
	right:10px;
	z-index: 999;
 }

/*
#section0{
    background: url(../images/home-page.jpg) no-repeat center; background-size:cover;
}
*/

.one{
    background: url(../images/homepage.jpg) no-repeat center; background-size:cover;
}
.two{
    background: url(../images/bg2.jpg) no-repeat center; background-size:cover;
}

.img-responsive{
    max-width: 100%;
}

.counter-blocks{
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.counter-blocks ul{
    margin: 0;
    padding: 0;
    width: 100%;
    background: #800080;
    display: table;
    table-layout: fixed;
    
}
.counter-blocks li{ display: table-cell; padding: 25px 0; color: #fff; font-size: 20px; font-family: 'fira_sansregular';}
.counter-blocks  .fa{
    line-height: 40px;
}
.counter-blocks span.counter{
    font-size: 40px;
    line-height: 40px;
    margin-left: 10px;
}
.counter-blocks .counts{ 
padding-bottom: 10px;
}
/*
.banner{
    display: block;
    width: 100%;
    position: relative
}
*/
.home .container{
    max-width: 980px;
    margin: 0 auto;
    display: table;
}
.home h1{
    font-size: 50px; color: #cacaca;
}
.home p{
    font-size: 20px; color: #cacaca;
}
.banner-slide{ width: 100%; display:block; height: 100%; position: relative;}
.home article{max-width:750px; display: table-cell; vertical-align: middle;}
.home article h1, .home article p, .home article a{ visibility: hidden; }
.home article h1.animated, .home article p.animated, .home article a.animated{ visibility: visible; }
.home .slick-dots { bottom: 20px; }
.home .slick-dots li{ width: 10px; height: 10px; }
.home .slick-dots li button{ display:block; width: 10px; height: 10px; background-color:#666; color:#666; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; -o-border-radius: 50%; }
.home .slick-dots li button:before{ content: ""; display: none; }
.home .slick-dots li.slick-active button{ background-color:#444; color:#444;}
/*.each-slide{ background: url(../images/home-home.jpg) no-repeat center top; }*/

.container{ width: 96%; padding: 0 2%; }
.content-outer{width: 100%; display: block; margin: 0;}
.about .content-blk{
    font-size: 15px;
    line-height: 20px;
    text-align: left;
    color: dimgrey;
    width: 50%;
    display: table-cell;
    vertical-align: top;
}
.about .content-blk .inner{
    display: block;
    padding: 30px 40px;
    margin-top: 50px;
}

p{ margin-bottom: 20px;}

h2{ font-size: 36px; font-weight: normal; margin-bottom: 20px; color: #800080; font-family: 'roboto_condensedregular';}

@-webkit-keyframes swing{
	20%{-webkit-transform:rotate3d(0,0,1,15deg);transform:rotate3d(0,0,1,15deg)}
	40%{-webkit-transform:rotate3d(0,0,1,-10deg);transform:rotate3d(0,0,1,-10deg)}
	60%{-webkit-transform:rotate3d(0,0,1,5deg);transform:rotate3d(0,0,1,5deg)}
	80%{-webkit-transform:rotate3d(0,0,1,-5deg);transform:rotate3d(0,0,1,-5deg)}
	to{-webkit-transform:rotate3d(0,0,1,0deg);transform:rotate3d(0,0,1,0deg)}
}
@keyframes swing{
	20%{-webkit-transform:rotate3d(0,0,1,15deg);transform:rotate3d(0,0,1,15deg)}
	40%{-webkit-transform:rotate3d(0,0,1,-10deg);transform:rotate3d(0,0,1,-10deg)}
	60%{-webkit-transform:rotate3d(0,0,1,5deg);transform:rotate3d(0,0,1,5deg)}
	80%{-webkit-transform:rotate3d(0,0,1,-5deg);transform:rotate3d(0,0,1,-5deg)}
	to{-webkit-transform:rotate3d(0,0,1,0deg);transform:rotate3d(0,0,1,0deg)}
}
.swing{-webkit-transform-origin:top center;transform-origin:top center;-webkit-animation-name:swing;animation-name:swing}
.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}